{%extends 'base.html' %}

{%block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to the Front Page!</h1>
      <p class="lead">This place houses the projects I'm working on!</p>
    </div>
  </div>

  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem nam excepturi cum ipsa nihil, asperiores illum fugiat doloribus eum libero et ut consequuntur ab est aliquid exercitationem atque unde?</p>

  </div>


{%endblock%}